{% extends "app.html" %}
{% block content %}
    <form class="card" method="post">
        {{ form.csrf_token }}
        <h2 class="card-header"><i class="fas fa-edit"></i> {{ category.name }}</h2>
        <div class="card-body card-text">
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class_="form-control")}}
                {% if form.name.errors %}
                    <small class="text-danger">
                      {{ form.name.errors[0] }}
                    </small>
                {% endif %}
            </div>
        </div>
        <div class=" card-footer btn-group float-right" role="group">
            {{ form.submit(class_="btn btn-warning", value="Save")}}
        </div>
    </form>

{% endblock %}